<h2><a href="/">BOT18</a> &rarr; <span>Log In</span></h2>

{{#if messages}}
<div class="messages">
{{#each messages}}
  <div class="message {{type}}"><span>{{{text}}}</span></div>
  {{/each}}
</div>
{{/if}}

<p><small>
<a href="/register">Don't have an account yet? &raquo;</a>
<!-- <br><a href="/forgot">Forgot your password? &raquo;</a> -->
</small>
</p>

<form method="post" action="/login">
<p><label>E-mail<br><input type="text" size="50" name="email" value="{{post.email}}"></label></p>
<p><label>Password<br><input type="password" size="50" name="password"></label></p>
<p><input type="submit" value="Log in" class="button"></p>
</form>
